*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.controls {
    margin: 20px;
    text-align: center;
}

.controls label {
    margin-left: 10px;
}
#places-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    padding: 0;
}

.place-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.place-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.place-card h3 {
    margin-top: 0;
}

#pagination {
    text-align: center;
    margin: 20px;
}

#pagination button {
    padding: 10px 15px;
    margin: 5px;
}

#sign-up, #register {
    text-align: center;
    margin: 40px 0;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sign-up-form label {
    display: block;
    margin-bottom: 8px;
}

#sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#sign-up-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-form label {
    display: block;
    margin-bottom: 8px;
}

#register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#register-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}